{% extends "base.html" %}

{% block header %}
    <li>
        <a href="{% url 'admin'%}">Management</a>
    </li>
    <li>
        <a href="{% url 'upload' 1 %}">Upload</a>
    </li>

{% endblock %}

{% block content %}
    <!-- Page Content -->

    <div class="container">

        <div class="row">

            {% if messages %}
                <p style="color:red" align="center">
                    {{ messages }}
                </p>
            {% endif %}

            <div class="col-md-3">

                <p class="lead">App Name</p>
                <!-- List for All apps -->
                <div class="list-group">
                    {% for app in applications %}
                    <a href="{% url 'view_assignment' app.id %}" class="list-group-item">{{ app.app_name }}</a>
                    {% endfor %}
                </div>

            <form method="post" action="{% url 'create_app' %}" style="color:black">
            {{ form.app_name }}
            {% csrf_token %}
            <input type="submit" value="Create App" style="background-color: Transparent;"/>

        </form>

            </div>



            <div class="col-md-9">

                <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <h1><b>Manager</b></h1>
                    <h2><b>Approved Manager</b></h2>
                    <tr>

                        <th> Manager's First Name </th>
                        <th> Manager's Last Name </th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for approved_manager in approved_managers%}
                    <tr>
                      <td>{{ approved_manager.first_name }}</td>
                      <td>{{ approved_manager.last_name }}</td>
                        <td>
                      <a href="{% url 'remove_manager' id1=application.id id2=approved_manager.id %}"><input type="text" class="btn btn-default" value="Remove"></a>
                      </td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                   <h2><b>Denied Manager</b></h2>
                    <tr>

                        <th> Manager's First Name </th>
                        <th> Manager's Last Name </th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for wait_manager in wait_managers%}
                    <tr>
                      <td>{{ wait_manager.first_name }}</td>
                      <td>{{ wait_manager.last_name }}</td>
                        <td>
                      <a href="{% url 'assign_manager' application.id wait_manager.id %}"><input type="text" class="btn btn-default" value="Assign"></a>
                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

                <hr>
                <table class="table table-striped">
                  <thead>
                  <h1><b>Auditor</b></h1>
                  <h2><b>Approved Auditor</b></h2>
                    <tr>
                        <th> Auditor's First Name </th>
                        <th> Auditor's Last Name </th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for approved_auditor in approved_auditors%}
                    <tr>
                      <td>{{ approved_auditor.first_name }}</td>
                      <td>{{ approved_auditor.last_name }}</td>
                        <td>
                      <a href="{% url 'remove_auditor' application.id approved_auditor.id %}"><input type="text" class="btn btn-default" value="Remove"></a>
                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                   <h2><b>Denied Auditor</b></h2>
                    <tr>
                        <th> Auditor's First Name </th>
                        <th> Auditor's Last Name </th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for wait_auditor in wait_auditors%}
                    <tr>
                      <td>{{ wait_auditor.first_name }}</td>
                      <td>{{ wait_auditor.last_name }}</td>
                        <td>
                      <a href="{% url 'assign_auditor' application.id wait_auditor.id %}"><input type="text" class="btn btn-default" value="Assign"></a>
                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

              </div>


            </div>

        </div>

    </div>
    <!-- /.container -->

{% endblock %}
