{% extends "base.html" %}
{% block header %}
    <li>
        <a href="{% url 'admin'%}">Management</a>
    </li>
    <li>
        <a href="{% url 'upload' 1 %}">Upload</a>
    </li>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">App Name</p>
                <!-- List for All apps -->
                <div class="list-group">
                    {% for app in applications %}
                    <a href="{% url 'upload' app.id %}" class="list-group-item">{{ app.app_name }}</a>

                    {% endfor %}
                </div>

            <div class="form">

        </div>


            </div>


            <div class="col-md-9" align="center">
                <b>Application Name : {{ application.app_name }}</b>
                <p></p>
                </div>
                <form enctype="multipart/form-data" method="post" action="{% url 'upload_file' application.id %}">
                        {% csrf_token %}
                    <p>
                    Upload the csv file:<br>
                    </p>
                    <p>
                    <input type="file" name="file">
                    </p>
                    <div>
                    <input type="submit" value="Upload">
                    </div>
                    </form>
        {% if messages %}
                <p style="color:red" align="center">
                    {{ messages }}
                </p >
        {% endif %}




        </div>


    </div>

{% endblock %}